/* CSS de Adopcio.html */
/* Modificacio de Seccio per Adopcio.html */
section.adopcioS {
    /* background-color: lightpink; */
    float: left;
    width: 60%;
    margin-left: 2.5%;
}

/* Aquest es l'Article de la dreta. I el css de les seves etiquetes interiors.*/
article.adopcio {
    background-color: rgba(232, 232, 232, 0.622);
    border: 1px black solid;
    float: right;
    width: 30%;
    margin-top: 200px;
    margin-right: 2.5%;
    margin-bottom: 150px;
}

article.adopcio>*{
    margin-left: 15px;
}

article.adopcio>p{
    margin-left: 45px;
    margin-right: 45px;
}

span.adopcioArticle {
    margin-left: -17px;
    font-weight: bolder;
}
/* Fi article */

/* Aquest div hi van els animals */
div.adopcioContainer {
    /* background-color: aqua; */
    position: relative;
    width: 100%;
    margin-top: 50px;
}

/* Taula animals */
div.adopcioContainer>table{
    width: 100%;
}

div.adopcioContainer table, div.adopcioContainer>table *:not(p, img){
    border-bottom: 1px black solid;
    border-collapse: collapse;
}

div.adopcioContainer>table th:first-of-type{
    border-top: 1px black solid;
}

div.adopcioContainer>table th{
    height: 50px;
    font-size: 25px;
}

div.adopcioContainer>table td:first-child{
    width: 50%;
    height: 300PX;
}

div.adopcioContainer>table img{
    width: 100%;
}
/* Fi div Animals */

/* Final CSS Article.html */