nav {
    background-color: #43ff6c;
}
.Hveterinaria {
    display: flex;
}

nav td {
    width: 200px;
    font-size: 14px;
    text-align: center;
    border: 1px black solid;
    border-collapse: collapse;
    padding: 10px;
}

.galeria {
    display: flex;
    
}

.galeria td {
    width: 150px;
    text-align: center;
    border: 3px solid #43ff6c;
    border-collapse: collapse;
    padding: 10px;
}

.galeria th {
    width: 150px;
    text-align: center;
    border: 3px solid #43ff6c;
    border-collapse: collapse;
    padding: 10px;
    font-size: 20px;
}

.galeria img {
    width: 100%;
}
