/* Header */
header {
    background-color: #43ff6c;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

img.logo, .Hveterinaria h1 {
    margin: 5px 7px;
    width: 200px; 
    height: 100px;
    float: left;
}

.Hveterinaria {
    display: flex;
}

.Hveterinaria h1 {
    line-height: 100px;
    margin-left: 50px;
}

nav td {
    font-size: 14px;
    text-align: center;
    padding: 10px 0px;
    background-color: white;
    width: 14%;
}

nav table {
    border-top: 1px grey double;
    width: 100%;
    padding: 5px 5px 5px 30px;
}
/* End header */

/* Section */
section {
    /* border: 1px black solid; */
    padding: 20px;
    width: 50%;
    margin-top: 200px;
    margin-left: 100px;
    margin-bottom: 100px;
}
/* End section */

/* footer */
footer {
    /* border: 5px red solid; */
    background-color: #43ff6c;
    width: auto;
    text-align: center;
    padding: 15px;
    position: absolute;
    bottom: auto;
    right: 0;
    left: 0;
}

footer>p.nomsFooter {
    /* background-color: white; */
    /* border: 1px black solid; */
    width: 500px;
    display: inline;
    padding: 0px 50px;
    margin: 0px;
}

footer>p:not(p.nomsFooter) {
    /* background-color: white; */
    /* border: 1px black solid; */
    width: 500px;
    padding: 0px 50px;
    margin: auto;
}
/* End footer */