/* Div que fa de body */
div.body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
}

/* Header */
header {
    background-color: #383a31;
    color: lightgray;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

img.logo, .Hveterinaria h1 {
    margin: 5px 7px;
    width: 200px; 
    height: 100px;
    float: left;
}

.Hveterinaria {
    display: flex;
}

.Hveterinaria h1 {
    line-height: 100px;
    margin-left: 50px;
}

nav td {
    font-size: 14px;
    text-align: center;
    padding: 10px 0px;
    background-color: white;
    width: 14%;
}

nav table {
    border-top: 1px grey double;
    width: 100%;
    padding: 5px 5px 5px 30px;
}
/* End header */

/* Section */
section {
    /* border: 1px black solid; */
    padding: 20px;
    width: 80%;
    margin-top: 200px;
    margin-left: 100px;
    margin-bottom: 150px;
}
/* End section */

/* footer */
footer {
    /* border: 5px red solid; */
    background-color: #383a31;
    color: lightgray;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

footer div.align {
    padding: 31px;
}

footer p.nomsFooter {
    /* border: 1px black solid; */
    display: inline;
    padding: 0px 50px;
    margin: 0px;
}

footer p:not(p.nomsFooter) {
    /* border: 1px black solid; */
    margin: auto;
}
/* End footer */

/* Galeria */
#galeriaTotal {
    background-color: gray;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px #383a31;
}

.galeria {
    display: flex;
}

.galeria td, .galeria th {
    width: 150px;
    text-align: center;
    border: 3px solid #383a31;
    border-collapse: collapse;
    padding: 10px;
}

.galeria th {
    font-size: 20px;
}

.galeria img {
    width: 100%;
}
/* End Galeria */

/* Recomenacions */
#recomenacionsTotal {
    background-color: gray;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px #383a31;
}

.recomenacions {
    display: flex;
    justify-content: space-between;
}
.recomenacions div {
    width: 25%;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px #383a31;
    margin: 0;
    padding: 20px;
}

.recomenacions h2 {
    text-align: center;
    font-size: 30px;
}

.recomenacions .gossos {
    background-color: #FF7043 
}

.recomenacions .gossos dl {
    background-color: #ffb43b ;
    border: 1px black solid;
}
.recomenacions .gats {
    background-color: #9f9ddb; 
}

.recomenacions .gats dl {
    background-color: #b4daff;
    border: 1px black solid;
}

.recomenacions .altres {
    background-color: #A5D6A7; 
}

.recomenacions .altres dl {
    background-color: #b4ff43;
    border: 1px black solid;
}

/* End Recomenacions */

/* Testimonis */

.testimoni form {
    background-color: gray;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px #383a31;
    padding: 20px; 
    margin: left;
    width: 700px;
}

.testimoni #nom {
    margin-right: 10px;
}

.testimoni #edat {
    margin-right: 10px;
}

.testimoni input     {
    background-color: lightgray;
}

.testimoni textarea {
    background-color: lightgray;
}

/* End Testimonis */

/* Nosaltres */

.nosaltres {
    background-color: gray;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px #383a31;
}

.nosaltres h2 {
    text-align: center;
}

.nosaltres .persones {
    display: flex;
    padding: 10px;
    margin: 10px;
}

.nosaltres #adria {
    background-color: lightgray;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px #383a31;
    padding: 10px;
    margin: 10px;
    width: 50%;
    
}

.nosaltres #adria img {
    border: 3px solid black;
    width: 100%;
    height: 75%;
}

.nosaltres #marc {
    background-color: lightgray;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px #383a31;
    padding: 10px;
    margin: 10px;
    width: 50%;
}

.nosaltres #marc img {
    border: 3px solid black;
    width: 100%;
    height: 75%;
}

/* End Nosaltres */

/* NosaltresAdria */

#nosaltresAdria {
    background-color: gray;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px #383a31;
    text-align: center;
}

#nosaltresAdria ul {
    list-style-type: none;
}

#nosaltresAdria table {
    display: flex;
    justify-content: center;
}

#nosaltresAdria label {
    font-size: 18px;
}

#nosaltresAdria th, td {
    border: 1px black solid;
    padding: 10px;
    background-color: lightgray;
}

/* End NosaltresAdria */

/* Contactans */

.contactans {
    background-color: gray;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px #383a31;
}

/* End Contactans */

/* TestimoniEnviat */

#botoTornar {
    color: lightgray;
    font-size: 20px;
    background-color: grey;
    width: 150px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #383a31;
}

/* End TestimoniEnviat */