/* TestimoniEnviat */

#botoTornar {
    color: lightgray;
    font-size: 20px;
    background-color: grey;
    width: 150px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #383a31;
}

/* End TestimoniEnviat */